@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
	min-width: 360px;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: left;
	min-width: 20%;
	max-width: 360px;
	padding: 0 .5em 0;
}

footer {
	clear: both;
}

header {
	position: relative;
	left: 5px;
	top: 5px;
}

img {
	max-width: 75%;
}

main {
	float: left;
	max-width: 550px;
	width: 60%;
	min-width: 360px;
	padding: 0 .5em 0;
}

nav {
	float: left;
	min-width: 10%;
	margin: 0 5px 0;
}

#copyright {
	font-size: 80%;
	position: relative;
	bottom: 5px;
	left: 5px;
}

#main-container {
	width: 100%;
}