@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: left;
	width: 40%;
}

footer {

}

header {

}

img {
	max-width: 50%;
}

main {
	float: left;
	width: 50%;
}

nav {
	float: left;
	width: 10%;
	margin: 2em 1em 1em 1em;
}

#copyright {
	clear: both;
	font-size: 80%;
}

#main-container {

}